<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <parameter name="first" value="set value"></parameter>
    <classes>
      <class name="com.guri.holidays.study.SumTest">
      <methods>
      <include name = "testCase1"/>
      <include name = "testCase2"/>
      <include name = "testCase3"/>
      </methods>
      </class>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
